body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #2094f1;
  transition: color 100ms ease-out;
}

a:hover {
  color: #fdbf05;
  transition: color 150ms ease-in;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding-right: 15px;
  padding-left: 15px;
}

.hidden {
  display: none !important;
}

/* Box Shadow */

.box-shadow-top {
  box-shadow: 0 -5px 5px -5px #b2b2b2;
}

.box-shadow-right {
  box-shadow: 10px 0 50px -5px #b2b2b2;
}

.box-shadow-bottom {
  box-shadow: 0 5px 5px -5px #b2b2b2;
}

.box-shadow-left {
  box-shadow: -5px 0 5px -5px #b2b2b2;
}

.box-shadow-all {
  box-shadow: 0 0 5px #b2b2b2;
}

/* React spinner */

.react-spinner {
  position: relative;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
}

.react-spinner_bar {
  -webkit-animation: react-spinner_spin 1.2s linear infinite;
  -moz-animation: react-spinner_spin 1.2s linear infinite;
  animation: react-spinner_spin 1.2s linear infinite;
  border-radius: 5px;
  background-color: #333333;
  position: absolute;
  width: 20%;
  height: 7.8%;
  top: -3.9%;
  left: -10%;
}

@keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-moz-keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-webkit-keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

/* Styled Radio Buttons and Checkboxes */

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  color: #808080;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f372";
  color: #2094f1;
  cursor: pointer;
  display: inline-block;
  font-family: "Ionicons";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  padding-right: 0.4em;
  speak: none;
  text-rendering: auto;
  text-transform: none;
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  color: #fdbf05;
}

input[type="checkbox"]:checked + label:before {
  content: "\f373";
}

input[type="radio"] + label:before {
  content: "\f3a6";
}

input[type="radio"]:checked + label:before {
  content: "\f3a7";
}